:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* Size */
  --size-button: 60px;
  --size-thumnail: 50px;
  --size-item: 550px;
  --size-base: 8px;
  --size-font: 18px;
  --size-border: 4px;

  /* Annimation */
  --annimation-duration: 300ms;
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* logo */
.logoBtn {
  cursor: pointer;
  transition: transform ease var(--annimation-duration);
}

/* Buttons */
.buttons {
  display: flex;
  margin: var(--size-base) 0;
}
.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: var(--size-base);
  transition: transform ease var(--annimation-duration);
}
.btn__img {
  width: var(--size-button);
  height: var(--size-button);
}
.btn__color {
  padding: calc(var(--size-base) * 2);
  font-size: var(--size-font);
  font-weight: bold;
  border-radius: var(--size-border);
}
.logoBtn:hover,
.btn:hover {
  transform: scale(1.1);
}
.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}

/* Items */
.items {
  list-style: none;
  padding-left: 0;
  height: 60%;
  overflow-y: auto;
}
/* 스크롤바 없애기 */
/* .items {
  -ms-overflow-style: none;
}
.items::-webkit-scrollbar {
  display: none;
} */

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  width: var(--size-item);
  border-radius: var(--size-border);
  cursor: pointer;
  margin-bottom: var(--size-base);
}
/* .item.invisible {
  display: none;
} */
.item__thumnail {
  width: var(--size-thumnail);
  height: var(--size-thumnail);
  margin: var(--size-base);
}
.item__description {
  font-weight: bold;
}
